<launch>
    <node name="python_publisher" pkg="camera_calibration" type="driver.py" output="screen" args="$(arg my_args)"/>

    <node name="cppdriver" pkg="camera_calibration" type="cppdriver" output="screen">
        <remap from="/set_camera_info" to="/camera_info/set_camera_info"/>
    </node>
</launch>
